.photo {
  height: 120px;
}

#mask {
  position:absolute;
  z-index:10100;
  background-color:#888;
  display:none;
}

#mapkey {
  position:absolute;
  z-index:3000;
  bottom:0px; 
  left:0px; 
  display:none;
}

.topbar a {
  font-weight: bold;
}

.modal {
  position: relative;
  top: auto;
  left: auto;
  margin: 0 auto;
  display:none;
}

.alert-message {
  margin-top:43px;
  display: none;
}
